backend/application/modules/boforms/library/Service/BOForms/wsdl/BOFormService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://xml.inetpsa.com/Services/bend/BOFormService" xmlns:ns2="http://namespace.xml.javax" xmlns:ns1="http://com/inetpsa/dcr/xml/services/bend/boformservice" xmlns:ns3="http://fault.core.cxl.inetpsa.com" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="http://xml.inetpsa.com/Services/bend/BOFormService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
  <wsdl:types>
<xsd:schema xmlns:tn="http://com/inetpsa/dcr/xml/services/bend/boformservice" xmlns:tns="http://xml.inetpsa.com/Services/bend/BOFormService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.inetpsa.com/Services/bend/BOFormService">
  <xsd:import namespace="http://com/inetpsa/dcr/xml/services/bend/boformservice"/>
  
<xsd:element name="getInstances">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" ref="ns1:getInstancesRequest"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getInstancesResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" ref="ns1:getInstancesResponse"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="anyType2anyType2anyTypeMapMap">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="entry">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="key" type="xsd:anyType"/>
<xsd:element maxOccurs="1" minOccurs="0" name="value" type="tns:anyType2anyTypeMap"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="anyType2anyTypeMap">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="entry">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="key" type="xsd:anyType"/>
<xsd:element maxOccurs="1" minOccurs="0" name="value" type="xsd:anyType"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="ServiceException" type="ns3:ServiceException"/>
<xsd:element name="getReporting">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" ref="ns1:getReportingRequest"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getReportingResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" ref="ns1:getReportingResponse"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="updateInstance">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" ref="ns1:updateInstanceRequest"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="updateInstanceResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" ref="ns1:updateInstanceResponse"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getInstanceById">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" ref="ns1:getInstanceByIdRequest"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getInstanceByIdResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" ref="ns1:getInstanceByIdResponse"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getLeadsByType">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" ref="ns1:getLeadsByTypeRequest"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getLeadsByTypeResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" ref="ns1:getLeadsByTypeResponse"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getReferential">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" ref="ns1:getReferentialRequest"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getReferentialResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" ref="ns1:getReferentialResponse"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
<xs:schema xmlns:tn="http://com/inetpsa/dcr/xml/services/bend/boformservice" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://com/inetpsa/dcr/xml/services/bend/boformservice">

	<xs:simpleType name="UniqueIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{4}[0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>	
	
	<xs:simpleType name="Culture">
    	<xs:restriction base="xs:string">
        	<xs:pattern value="[a-z]{2}\-[A-Z]{2}"/>
    	</xs:restriction>
    </xs:simpleType>	
	
	<xs:simpleType name="Status">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OK"/>
			<xs:enumeration value="ERROR"/> 
			<xs:enumeration value="BAD_REQUEST"/>        
			<xs:enumeration value="NO_RESULTS_FOUND"/>
			<xs:enumeration value="INSTANCE_NOT_FOUND"/>
			<xs:enumeration value="XSD_VALIDATION_FAILED"/>
			<xs:enumeration value="UNKNOWN_SITE"/> 
			<xs:enumeration value="UNKNOWN_COUNTRY"/>
			<xs:enumeration value="UNKNOWN_BRAND"/>            
			<xs:enumeration value="NULL_NOT_PERMITTED"/>
			<xs:enumeration value="UNKNOWN_FORM_TYPE"/>
			<xs:enumeration value="INSTANCE_NAME_ALREADY_EXIST"/>            
			<xs:enumeration value="FORM_NAME_ALREADY_EXIST"/>
			<xs:enumeration value="NOT_DATETIME"/>
		</xs:restriction>
	</xs:simpleType>	
	
	
	<xs:complexType name="Instance">
			<xs:sequence>								
				<xs:element maxOccurs="1" minOccurs="1" name="instanceId" type="tn:UniqueIdentifier"/>				
				<xs:element maxOccurs="1" minOccurs="1" name="instanceName" type="xs:string"/>				
				<xs:element maxOccurs="1" minOccurs="1" name="formId" type="tn:UniqueIdentifier"/>
				<xs:element maxOccurs="1" minOccurs="1" name="formName" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="formType" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="editable" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="instanceCommentary" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="culture" type="xs:string"/>
			</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="LeadData">
			<xs:sequence>								
				<xs:element maxOccurs="1" minOccurs="0" name="formType" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="0" name="countryCode" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="0" name="cible" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="0" name="lastName" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="0" name="firstName" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="0" name="civility" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="0" name="address1" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="0" name="address2" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="0" name="zipCode" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="0" name="country" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="0" name="city" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="0" name="telephone" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="0" name="mobile" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="0" name="professionalTelephone" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="0" name="email" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="0" name="flagRefusalPromotionalOffers" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="0" name="productOwned" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="0" name="companyFleetSize" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="0" name="formCountry" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="0" name="dealerCode" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="0" name="gitId" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="0" name="channel" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="0" name="source" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="0" name="clientContactDate" type="xs:dateTime"/>
				<xs:element maxOccurs="1" minOccurs="0" name="nature" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="0" name="marketingCode" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="0" name="preferredDate" type="xs:dateTime"/>
				<xs:element maxOccurs="1" minOccurs="0" name="purchaseIntentPeriod" type="xs:dateTime"/>
				<xs:element maxOccurs="1" minOccurs="0" name="DPRCode" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="0" name="InterestProduct" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="0" name="lcdv" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="0" name="verbatim" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="0" name="activityType" type="xs:string"/>
			</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="LeadInfoType">
			<xs:sequence>								
				<xs:element maxOccurs="1" minOccurs="1" name="type" type="xs:string"/>				
				<xs:element maxOccurs="1" minOccurs="1" name="device" type="xs:string"/>				
				<xs:element maxOccurs="1" minOccurs="1" name="formType" type="xs:string"/>				
				<xs:element maxOccurs="1" minOccurs="1" name="total" type="xs:int"/>
			</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ReferentialData">
			<xs:sequence>								
				<xs:element maxOccurs="1" minOccurs="1" name="type" type="xs:string"/>				
				<xs:element maxOccurs="1" minOccurs="1" name="label" type="xs:string"/>				
				<xs:element maxOccurs="1" minOccurs="1" name="refCode" type="xs:string"/>				
			</xs:sequence>
	</xs:complexType>	

	
	
	<xs:complexType name="InstancesArray">
			<xs:sequence>								
				<xs:element maxOccurs="unbounded" minOccurs="0" name="instance" type="tn:Instance"/>				
			</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="RefsArray">
			<xs:sequence>								
				<xs:element maxOccurs="unbounded" minOccurs="0" name="referential" type="tn:ReferentialData"/>				
			</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="LeadsDataArray">
			<xs:sequence>								
				<xs:element maxOccurs="unbounded" minOccurs="0" name="leadData" type="tn:LeadData"/>				
			</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="LeadsArray">
			<xs:sequence>								
				<xs:element maxOccurs="unbounded" minOccurs="0" name="leadInfoType" type="tn:LeadInfoType"/>				
			</xs:sequence>
	</xs:complexType>
	
	<xs:element name="getInstancesRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="1" minOccurs="1" name="country" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="brand" type="xs:string"/>								
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="getInstancesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="1" minOccurs="1" name="statusResponse" type="tn:Status"/>				
				<xs:element maxOccurs="1" minOccurs="1" name="instances" type="tn:InstancesArray"/>				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="getInstanceByIdRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="1" minOccurs="1" name="instanceId" type="tn:UniqueIdentifier"/>												
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="getInstanceByIdResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="1" minOccurs="1" name="statusResponse" type="tn:Status"/>				
				<xs:element maxOccurs="1" minOccurs="0" name="instanceXML" type="xs:string"/>				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="getReferentialResponse">
		<xs:complexType>
			<xs:sequence>	
				<xs:element maxOccurs="1" minOccurs="1" name="statusResponse" type="tn:Status"/>							
				<xs:element maxOccurs="1" minOccurs="1" name="referentials" type="tn:RefsArray"/>				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="getReferentialRequest">
		<xs:complexType>
			<xs:sequence>							
				<xs:element maxOccurs="1" minOccurs="1" name="referentialType" type="xs:string"/>				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="updateInstanceRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="1" minOccurs="1" name="instanceId" type="tn:UniqueIdentifier"/>												
				<xs:element maxOccurs="1" minOccurs="1" name="instanceName" type="xs:string"/>			
				<xs:element maxOccurs="1" minOccurs="1" name="formId" type="tn:UniqueIdentifier"/>
				<xs:element maxOccurs="1" minOccurs="1" name="formName" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="formType" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="instanceXML" type="xs:string"/>			
			</xs:sequence>
		</xs:complexType>
	</xs:element>
		
	<xs:element name="updateInstanceResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="1" minOccurs="1" name="statusResponse" type="tn:Status"/>				
				<xs:element maxOccurs="1" minOccurs="0" name="errorResponse" type="xs:string"/>				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="getReportingRequest">
		<xs:complexType>
			<xs:sequence>	
				<xs:element maxOccurs="1" minOccurs="1" name="brand" type="xs:string"/>				
				<xs:element maxOccurs="1" minOccurs="0" name="siteCode" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="0" name="country" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="0" name="opportunityType" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="0" name="contexte" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="0" name="culture" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="0" name="customerType" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="0" name="salePoint" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="dateStart" type="xs:dateTime"/>
				<xs:element maxOccurs="1" minOccurs="1" name="dateEnd" type="xs:dateTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="getReportingResponse">
		<xs:complexType>
			<xs:sequence>	
				<xs:element maxOccurs="1" minOccurs="1" name="statusResponse" type="tn:Status"/>
				<xs:element maxOccurs="1" minOccurs="1" name="leadsData" type="tn:LeadsDataArray"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="getLeadsByTypeRequest">
		<xs:complexType>
			<xs:sequence>		
				<xs:element maxOccurs="1" minOccurs="1" name="country" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="brand" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="dateStart" type="xs:dateTime"/>
				<xs:element maxOccurs="1" minOccurs="1" name="dateEnd" type="xs:dateTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="getLeadsByTypeResponse">
		<xs:complexType>
			<xs:sequence>	
				<xs:element maxOccurs="1" minOccurs="1" name="statusResponse" type="tn:Status"/>
				<xs:element maxOccurs="1" minOccurs="1" name="leads" type="tn:LeadsArray"/>					
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	
</xs:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://fault.core.cxl.inetpsa.com">
<xsd:complexType name="ServiceException">
<xsd:sequence>
<xsd:element minOccurs="0" name="detail" nillable="true" type="xsd:anyType"/>
<xsd:element minOccurs="0" name="faultCode" nillable="true" type="ns2:QName"/>
<xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="namespaces" nillable="true" type="tns:anyType2anyType2anyTypeMapMap"/>
<xsd:element minOccurs="0" name="reason" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="role" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="subCode" nillable="true" type="ns2:QName"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://namespace.xml.javax">
<xsd:complexType name="QName">
<xsd:sequence>
<xsd:element minOccurs="0" name="localPart" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="namespaceURI" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="prefix" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="getReferentialRequest">
    <wsdl:part name="parameters" element="tns:getReferential">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getInstanceByIdRequest">
    <wsdl:part name="parameters" element="tns:getInstanceById">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getInstanceByIdResponse">
    <wsdl:part name="parameters" element="tns:getInstanceByIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLeadsByTypeRequest">
    <wsdl:part name="parameters" element="tns:getLeadsByType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateInstanceResponse">
    <wsdl:part name="parameters" element="tns:updateInstanceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getReferentialResponse">
    <wsdl:part name="parameters" element="tns:getReferentialResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getInstancesRequest">
    <wsdl:part name="parameters" element="tns:getInstances">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getReportingResponse">
    <wsdl:part name="parameters" element="tns:getReportingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateInstanceRequest">
    <wsdl:part name="parameters" element="tns:updateInstance">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getInstancesResponse">
    <wsdl:part name="parameters" element="tns:getInstancesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ServiceException">
    <wsdl:part name="ServiceException" element="tns:ServiceException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getReportingRequest">
    <wsdl:part name="parameters" element="tns:getReporting">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLeadsByTypeResponse">
    <wsdl:part name="parameters" element="tns:getLeadsByTypeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BOFormServicePortType">
    <wsdl:operation name="getInstances">
      <wsdl:input name="getInstancesRequest" message="tns:getInstancesRequest">
    </wsdl:input>
      <wsdl:output name="getInstancesResponse" message="tns:getInstancesResponse">
    </wsdl:output>
      <wsdl:fault name="ServiceException" message="tns:ServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getReporting">
      <wsdl:input name="getReportingRequest" message="tns:getReportingRequest">
    </wsdl:input>
      <wsdl:output name="getReportingResponse" message="tns:getReportingResponse">
    </wsdl:output>
      <wsdl:fault name="ServiceException" message="tns:ServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateInstance">
      <wsdl:input name="updateInstanceRequest" message="tns:updateInstanceRequest">
    </wsdl:input>
      <wsdl:output name="updateInstanceResponse" message="tns:updateInstanceResponse">
    </wsdl:output>
      <wsdl:fault name="ServiceException" message="tns:ServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getInstanceById">
      <wsdl:input name="getInstanceByIdRequest" message="tns:getInstanceByIdRequest">
    </wsdl:input>
      <wsdl:output name="getInstanceByIdResponse" message="tns:getInstanceByIdResponse">
    </wsdl:output>
      <wsdl:fault name="ServiceException" message="tns:ServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getLeadsByType">
      <wsdl:input name="getLeadsByTypeRequest" message="tns:getLeadsByTypeRequest">
    </wsdl:input>
      <wsdl:output name="getLeadsByTypeResponse" message="tns:getLeadsByTypeResponse">
    </wsdl:output>
      <wsdl:fault name="ServiceException" message="tns:ServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getReferential">
      <wsdl:input name="getReferentialRequest" message="tns:getReferentialRequest">
    </wsdl:input>
      <wsdl:output name="getReferentialResponse" message="tns:getReferentialResponse">
    </wsdl:output>
      <wsdl:fault name="ServiceException" message="tns:ServiceException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BOFormServiceHttpBinding" type="tns:BOFormServicePortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getInstances">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getInstancesRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getInstancesResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <wsdlsoap:fault name="ServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getReporting">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getReportingRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getReportingResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <wsdlsoap:fault name="ServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateInstance">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="updateInstanceRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateInstanceResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <wsdlsoap:fault name="ServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getInstanceById">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getInstanceByIdRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getInstanceByIdResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <wsdlsoap:fault name="ServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getLeadsByType">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getLeadsByTypeRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getLeadsByTypeResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <wsdlsoap:fault name="ServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getReferential">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getReferentialRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getReferentialResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <wsdlsoap:fault name="ServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BOFormService">
    <wsdl:port name="BOFormServiceHttpPort" binding="tns:BOFormServiceHttpBinding">
      <wsdlsoap:address location="http://ac.bo.dcr.dev.inetpsa.com:38081/services/BOFormService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>